footer{
    --footer-container: 80vw;
}

footer .footer-container{
    display:grid;
}


.footer-container>.footer-top{
    padding-bottom:151px;
}
.footer-container>.footer-links{
    padding-bottom:276px;
}

.footer-container>.payment-options{

}

