footer[name=third]{
  --w:max-content;
}
@media (max-width: 319px){
    footer[name=third] {

    }
  }
  
  
  @media (min-width: 320px) and (max-width:419px) { 
    footer[name=third] {
      --w:74px;
    }
  }
  
  
  @media (min-width: 420px) and (max-width:540px) { 
    footer[name=third] {
      --width:100px;
    }
  }
  
  @media (min-width: 541px) and (max-width:764px) { 
    footer[name=third] {

    }
  }
  
  @media (min-width: 765px) and (max-width:867px) { 
    footer[name=third]{
      --link-fs:15px;
    }
  }
  @media (min-width: 868px) and (max-width:962px) { 
    footer[name=third] {

    }
  }
footer[name=third]{
    
}
footer[name=third] .payment-options{
  background-color: #003A5E;
  padding: 1rem 0rem 0rem;
}
footer[name=third] .payment-options div a>img{
  width:var(--width);
}
footer[name=third] .payment-options div a:hover{
    transform: scale(1.1);
    
}
footer[name=third] .payment-options{
  display: grid;
}
footer[name=third] .payment-options .payment-options-container{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}




