footer[name=second]{
  background-color: 16413E;

--pt:50px;
--pb:210px;
  --links-mr:10%;
  --tmplt-area:"left right";
  --tmplt-col:1fr max-content;
  --just-right: end;
--social-tmplt:unset;
--margin:1rem;
--display-links:unset;
--link-fs:16px;
}

@media (max-width: 319px){
footer[name=second] {
  --tmplt-area:"right" "left";
  --tmplt-col:unset;
  --just-right:center;
  --social-tmplt: 1fr 1fr;
  --margin: 1rem;
   --display-links:grid;
  --links-mr:0px;
  --link-fs:10px;
}
}


@media (min-width: 320px) and (max-width:419px) { 
footer[name=second] {
  --tmplt-area:"right" "left";
  --tmplt-col:unset;
  --just-right:center;
  --social-tmplt: 1fr;
  --margin: 1rem;
   --display-links:grid;
  --links-mr:0px;
  --link-fs:12px;
}
}


@media (min-width: 420px) and (max-width:540px) { 
footer[name=second] {
  --tmplt-area:"right" "left";
  --tmplt-col:unset;
  --just-right:center;
  --social-tmplt: 1fr 1fr;
  --margin: 1rem;
   --display-links:grid;
  --links-mr:0px;
  --link-fs:13px;
  
 --pt:10px;
--pb:50px;
}
}

@media (min-width: 541px) and (max-width:764px) { 
footer[name=second] {
  --tmplt-area:"right" "left";
  --tmplt-col:unset;
  --just-right:center;
  --social-tmplt: 1fr 1fr;
  --margin: 1rem;
  --display-links:grid;
  --links-mr:0px;
  --link-fs:15px;
}
}

@media (min-width: 765px) and (max-width:867px) { 
footer[name=second]{
  --link-fs:15px;
}
}
@media (min-width: 868px) and (max-width:962px) { 
footer[name=second] {
  --link-fs:15px;
}
}

footer[name=second]{
padding-top:var(--pt);
padding-bottom:var(--pb);
}
footer[name=second] .footer-links .footer-content{
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: var(--tmpl-col);
  grid-template-areas: var(--tmplt-area);
  grid-gap:20px;
  margin:var(--margin);
}
footer[name=second] .footer-links .footer-links-left{
  grid-area:left;
text-align: center;
display:var(--display-links);
}
footer[name=second] .footer-links .footer-links-left div{
  float:left;
  display:grid;
  /*! grid-gap:15px; */
  color: #FEEF02;
  margin-right: var(--links-mr);
}
footer[name=second] .footer-links .footer-links-left div a{
padding: 10px;
  color: white;
font-size:var(--link-fs);
}
footer[name=second] .footer-links .footer-links-left div a:hover{
  text-decoration: underline;
background-color: #003A5E;
}
footer[name=second] .footer-links .footer-links-right{
  grid-area:right;
  display:grid;
  justify-content:var(--just-right);

  grid-template-columns: var(--social-tmplt);
  align-items: center;
}
footer[name=second] .footer-links .footer-links-right div{
  
}
footer[name=second] .footer-links .footer-links-right div:nth-child(1){
  text-align: center;
  padding: 1rem 0rem;
  color:white;
}
footer[name=second] .footer-links .footer-links-right div:nth-child(2){
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
  justify-content: space-around;
}
footer[name=second] .footer-links .footer-links-right div:nth-child(3){
  text-align: center;
  padding-top: 3rem;
}
footer[name=second] .footer-links .footer-links-right div:nth-child(2) img{

}
