main[name=category]{
  --btn-h:40;
  --card-h:335.5px;
  --btn-bottom: -20px;
  --img-h: 272px;
  --container-w:1303px;
  --container-h:383px;
  --grid-item-w:295px;
  --game-item-h:unset;
  --promo-fs:18px;
  --game-img-h:272px;
  --svg-sh:176px;
  
  padding:83px 0px 83px;
}
@media (max-width: 319px){
  main[name=category] {
    --container-w:unset;
    --container-h:unset;
  }
}


@media (min-width: 320px) and (max-width:419px) { 
  main[name=category] {
    --container-w:unset;
    --container-h:unset;
  }
}


@media (min-width: 420px) and (max-width:575px) { 
  main[name=category] {
    --container-w:unset;
    --container-h:unset;
    
    --grid-item-w:200px;
    --promo-fs: 12px;
    --game-item-h:295px;
    --game-img-h:193px;
  }
}

@media (min-width: 576px) and (max-width:599px) { 
  main[name=category] {
    --container-w:unset;
    --container-h:unset;
    
    --grid-item-w:200px;
    --promo-fs: 15px;
  }
}
@media (min-width: 600px) and (max-width:764px) { 
  main[name=category] {
    --container-w:unset;
    --container-h:unset;
  }
}

@media (min-width: 765px) and (max-width:867px) { 
  main[name=category] {
    --container-w:unset;
    --container-h:unset;
  }
}
@media (min-width: 868px) and (max-width:962px) { 
  main[name=category] {
    --container-w:unset;
    --container-h:unset;
  }
}


@media (min-width:963px) and (max-width:1224px) { 
  main[name=category] {
    --container-w:unset;
    --container-h:unset;
  }
}




@media (min-width: 1225px) and (max-width:1399px) { 
  main[name=category] {
    --container-w:unset;
    --container-h:unset;
  }
}


@media (min-width: 1400px) {
  main[name=category] {
    --svg-sh:176px;
  }
}


main[name=category] {

}

main[name=category] .game-category-container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-w), 1fr));
  place-items: center;
  grid-column-gap:10px;
  grid-row-gap: 30px;
  width:var(--container-w);
  height:var(--container-h);
  margin:auto;
  z-index: 2000;
}

main[name=category] .game-category-item{
  position: relative;
  height: var(--game-item-h);
}

main[name=category] .game-category-item:nth-child(1){
  background-color: #B73333;
  border: 4px solid #E1A9A9;
}
main[name=category] .game-category-item:nth-child(2){
  background-color: #398F5B;
  border: 4px solid #4CAF50;
}

main[name=category] .game-category-item:nth-child(3){
  background-color: #936D23;
  border: 4px solid #936D23;
}

main[name=category] .game-category-item:nth-child(4){
  background-color: #001AFF;
  border: 4px solid #C2C8FF;
}



main[name=category] .game-category-item .first-level{
  color:white;
  text-align: center;
}
main[name=category] .game-category-item .first-level>.name{
  font-size:24px;
  padding:12px;
}
main[name=category] .game-category-item .first-level>.promo{
  background-color: rgba(0,0,0,0.3);
  font-size:var(--promo-fs);
  padding: 8px;
}

main[name=category] .game-category-item .second-level{
  height: var(--game-img-h);
  overflow: hidden;
  
}
main[name=category] .game-category-item .second-level img{
  transition: all 1s ease;
  height: var(--game-img-h);
}
main[name=category] .game-category-item .second-level:hover>img{
  transform: scale(1.1);
  object-fit: cover;
  object-position: center;
}

main[name=category] .game-category-item .third-level{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: var(--btn-bottom);
}

main[name=category] .game-category-item .third-level .button{
  z-index: 1;
}


.category-container{
  display: grid;
  position: relative;
  
}


.category-container svg:nth-child(5){
  position: absolute;
  bottom:0;
}


.svg-align{
  height:var(--svg-sh);
  height:110px;
}



