[name=sidebar]{
    position:fixed;
    top:0;
    max-width:320px;
    min-width:300px;
    z-index: 1000;
    background-color: #203E3C;
    height: 100%;
}
[name=sidebar] .first .first-content img:nth-child(2){
    width: 180px;
}
[name=sidebar] .first .first-content{
    display:grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 10px 20px;
}


[name=sidebar] .sidebar-item a{
    color: white;
}
