.header{
  /*! position:absolute; */
  position:fixed;
  top:0px;
  right: 0;
  left: 0;
  display: block;
  background-color: rgba(254,254,254,0.2);
  z-index: 100;
  box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
}
.wrapper{
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
.header>.wrapper{
  display:grid;
  grid-template-areas: 
      "left right"
      "bottom bottom"
  ;
  align-items: center;
}
.header>.wrapper>.left-section{
  grid-area: left;
}
.header>.wrapper>.left-section img{
  transform: scale(0.8);
}
.header>.wrapper>.right-section{
  grid-area: right;
  justify-self: right;
}

.header>.wrapper>.navbar{
  grid-area: bottom;
  width: 100%;
  display:grid;
  grid-auto-flow: column;
  grid-template-columns: max-content 1fr max-content;
  background-color:transparent;
  color:whitesmoke;
  justify-items: center;
  align-items: baseline;
}
.header>.wrapper>.navbar a{

color:whitesmoke;
}
.header.is-hidden-touch{
  transition: all 0.5s ease;
}
.header.is-hidden-touch.solid{
  background-color: black;
}

.header > .wrapper{
  padding-bottom: 0;
}


.header.is-hidden-touch.scrolling{
  background-color: black;
}

#app.hide .header.is-hidden-touch{
  margin-top:-81px;
}
#app.show .header.is-hidden-touch{
  margin-top:0px;
}
.burger-container{
  position: relative;
  width: 50px;
}

.header>.wrapper{
  position: relative;
}

.header>.wrapper>.nav-dropdown{
  position: absolute;
  display: grid;
  top:162px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(140px, 150px));
  grid-gap: 3rem;
  padding: 1rem;
  justify-content: center;
};




.header>.wrapper>.nav-dropdown figure figcaption{
  padding: 1rem;
}

.header>.wrapper>.nav-dropdown>.nav-item>figure{
  grid-template-rows: 1fr 80px;
  height: 120px;
  justify-items: center;
  align-items: center;
  border:inset;
  border-color:gray;
  border-radius: 20px;
}
.header>.wrapper>.nav-dropdown>.nav-item>figure img{
  max-height: 100%;
  object-fit:cover;
}
.header>.wrapper>.nav-dropdown>.nav-item:hover{
  box-shadow: 0px 0px 15px 1px yellow;
  border-radius: 20px;
}
.first-level-wrapper{

}
@media screen and (max-width:360px){
.wrapper{
  padding:0;
}
.first-level {
  padding: 0;
}
.first-level .splide,
.first-level .splide figure,
.first-level .splide .splide__list,
.first-level .splide .splide__list li,
.first-level .splide img{
  width: 100%!important;
}
}


.first-level{
  /*! position: relative; */
}


@media screen and (max-width:1023px){
  .first-level{
    padding:0;
  }
  main{
    margin-top:0px!important;
    background-color: rgb(0,0,50);
  }
  .first-level-wrapper{
    padding:0;
  }
}

main .nav{
  background-color: rgba(254,254,254,0.1);
  box-shadow: 1px 1px 1px rgba(0, 0,0, 0.2);
  position: fixed;
  z-index: 1000;
  
  width: 100%;
  height: 80px;
  max-height: 80px;
  
  display: grid;
  grid-auto-flow: column;
  align-items:center;
  
  padding: 8px 16px;
}

main .nav img{
  /*! height: 70px; */
}

main .nav .navbar-burger{
  background-color: rgba(254,254,254,0.2);
}
main .nav .navbar-burger{
  color:goldenrod;

}
main .nav .navbar-burger span{
  font-weight: 800px;
  height: 2px;
}

.nav-dropdown.is-show{
  display:block;
}

.nav-dropdown.is-visible{
  visibility:visible;
}
.nav-dropdown.is-hidden{
  display:none;
}

.nav-dropdown.is-invisible{
  visibility: hidden;
}


