.background{
    background-image: url('../image/background/bg5.jpg');
    background-attachment:fixed;
    background-size:cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1000;
    top:0;
}
main{
    /*! margin-top:250px; */
    transition: all 0.8s ease-out;
}
#app.hide main{
  margin-top:150px;
}
#app.show main{
  margin-top:250px;
}

main .first-level .banner{
    width: 100%;
    display: flex;
    /*! height: 500px; */
}
main .first-level .banner img{
    width: 100%;
    max-height:100%;
    object-fit: cover;
}

main .third-level .slide-content{

    padding:8px;
}
main .third-level .splide__slide{
    display: flex;
}

main .third-level .splide__slide figure{
    /*! display: grid; */
    /*! grid-template-rows: max-content 1fr; */

    /*! border-radius: 4px; */
    /*! width: 100%; */


}

main .third-level .splide{
    transition: all 0.5s ease;
    
}

main .third-level .splide .splide__list{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 2rem;
}

main .third-level .splide .splide__slide:hover{
    
}

main .third-level .splide__slide figure figcaption{
    /*! font-size: 1.5rem; */
    /*! text-align: center; */
    /*! color:white; */
}


main .third-level .splide__slide figure img{
    /*! width: 100%; */
    /*! height: 100%; */
}

.second-level .brochure{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 12px;
}

.second-level .brochure .brochure-item{
    width: 100%;
    height: 100%;
    position: relative;
}
.second-level .brochure img{

}

@media screen and (max-width:365px) {

    .second-level .brochure{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 12px;
    }
}