.coins{
    --coins-top-offset: 10%;
    --coins-left-offset:10px;
    --coins-scale-offset: 0.1;
    
    --coin1-top: 20%;
    --coin1-top-offset: 17%;
    --coin1-left: 40%;
    
    --coin2-top: 75%;
    --coin2-top-offset: 72%;
    --coin2-left: 10%;
    
    --coin3-top: 60%;
    --coin3-top-offset: 63%;
    --coin3-left: 35%;
    
    --delay-offset: 0.1s;
}
@media (max-width: 575px) { 
    
    #main-section .first-level img{
        object-fit:stretch!important;
        height: 280px!important;
        object-position:-55px;
    }
}

@media (min-width: 576px) { 
    #main-section .first-level img{
        object-fit:stretch!important;
        height: 280px!important;
    }
    .coins{
        transform: scale(1.1)!important;
    }
}
@media (min-width: 768px) { 
    #main-section .first-level img{
        height: 300px!important;
    }
    .coins{
        transform: scale(1.3)!important;
    }
}


@media (min-width:922px) { 
    #main-section .first-level img{
        height: 320px!important;
    }
    .coins{
        transform: scale(1.6)!important;
    }
}


@media (min-width: 1200px) { 
    #main-section .first-level img{
        height: 400px!important;
    }
    .coins{
        transform: scale(1.8)!important;
        --coins-left-offset:-3%;
    }
    
 }


@media (min-width: 1400px) {
    #main-section .first-level img{
        object-fit:contain!important;

    }
    .coins{
        transform: scale(1.6)!important;
        --coins-left-offset:-5%;
        --coin2-left: 20%;
        --coin2-top: 20%;
        --coin2-top-offset: 23%;
    }
}
.banner{
    position: relative;
}



.banner .coins{
    width: 50px!important;
    height: 50px!important;
    z-index: 1000!important;
    object-fit: contain!important;
    transform: scale(1.5);
    position: absolute;
}

.banner .coins.coin1{
    left: calc(var(--coin1-left) - var(--coins-left-offset));
    animation-name: bouncy1;
    animation-duration: 2.8s;
    animation-direction:alternate-reverse;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in-out;
    animation-delay: 0.51s;
}
.banner .coins.coin2{
    left: calc(var(--coin2-left) - var(--coins-left-offset));
    animation-name: bouncy2;
    animation-duration: 1.8s;
    animation-direction:alternate-reverse;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}
.banner .coins.coin3{
    left: calc(var(--coin3-left) - var(--coins-left-offset));
    animation-name: bouncy3;
    animation-duration: 1.5s;
    animation-direction:alternate-reverse;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
}

@keyframes bouncy1{
    from{
        top: calc(var(--coin1-top) - var(--coins-top-offset));
    }
    to{
        top: calc(var(--coin1-top-offset) - var(--coins-top-offset));
    }
}

@keyframes bouncy2{
    from{
        top: calc(var(--coin2-top) - var(--coins-top-offset));
    }
    to{
        top: calc(var(--coin2-top-offset) - var(--coins-top-offset));
    }
}

@keyframes bouncy3{
    from{
        top: calc(var(--coin3-top) - var(--coins-top-offset));
    }
    to{
        top: calc(var(--coin3-top-offset) - var(--coins-top-offset));
    }
}





