.rs-font-22 {
  font-size: 22px;
}
@media screen and (min-width: 320px) {
  .rs-font-22 {
    font-size: calc(22px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .rs-font-22 {
    font-size: 28px;
  }
}

.rs-font-32 {
  font-size: 32px;
  text-align:center;
}

main .logo{
  width: 180px;
  object-fit:contain;
}


@media screen and (min-width: 320px) {
  .rs-font-32 {
    font-size: calc(32px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .rs-font-32 {
    font-size: 38px;
  }
}



.divider{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  color:white;
  grid-column-gap: 2rem;
  margin: 4rem 0rem 0rem;
}

main .logo{
  width: 180px;
  object-fit:contain;
}

@media screen and (max-width: 450px) {
  main .logo{
    width: 120px;
    object-fit:contain;
  }
}

.header .logo{
  width: 250px;
  object-fit:contain;
}


#app.hide .header .left-section .logo{
  visibility: hidden;
}
#app.hide .header  .mid-logo{
  transition: all 0.2 ease;
}
#app.hide .header  .mid-logo{
  visibility: visible!important;
  opacity: 1;
}

#app.show .header  .mid-logo{
  visibility: hidden;
   opacity: 0;
}

nav .nav-link{
  cursor:pointer;
}
.body{
  overflow-x:hidden;
}
/* 
.chevron {
    position:absolute;
    top:-2px;
    right:-13px;
    z-index:1;
    display:block;
    border:24px solid transparent;
    border-right:0;
    border-left:14px solid #ccc

}

.chevron:before {
 position:absolute;
 top:-24px;
 right:1px;
 display:block;
 border:24px solid transparent;
 border-right:0;
 border-left:14px solid #fff;
 content:"";
 -webkit-transition:all 400ms ease-in-out;
 -moz-transition:all 400ms ease-in-out;
 -ms-transition:all 400ms ease-in-out;
 -o-transition:all 400ms ease-in-out;
 transition:all 400ms ease-in-out
} */

.chevron{
  background-image: url('../image/icon/chevron2.png');
}
