.footer{
    background-color: black;
    
}

.footer .first-level{
  
}
.footer .first-level img{
  width: 100px;
}
.footer .third-level{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr max-content;
  padding: 1rem;
}
.footer-links{
  display: grid;
  grid-auto-flow: column;
}
.footer-links ul{
  list-style: none;
}

.footer-links ul li{
  margin: 1rem;
}

.footer .first-level{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr max-content;
  padding: 1rem;
}